<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	       http://www.springframework.org/schema/beans/spring-beans.xsd
	       http://www.springframework.org/schema/context
		   http://www.springframework.org/schema/context/spring-context.xsd
		   http://www.springframework.org/schema/aop
	       http://www.springframework.org/schema/aop/spring-aop.xsd
		   http://www.springframework.org/schema/tx 
	       http://www.springframework.org/schema/tx/spring-tx.xsd">
	       
	<context:annotation-config />
    
	<bean class="com.smart.mvc.config.ConfigUtils">
    	<property name="fileEncoding" value="UTF-8" />
		<property name="locations">
			<list>
				<!--远程服务参数配置-->
				<value>classpath:service.properties</value>
				<!--数据库参数配置-->
				<value>classpath:jdbc.properties</value>
				<!--Dubbo参数配置-->
				<value>classpath:dubbo.properties</value>
				<!--配置参数-->
				<value>classpath:config.properties</value>
			</list>
		</property>
	</bean>
	
	<import resource="spring-redis.xml"/>
    
    <!-- 引入Mybatis及数据库相关 -->
    <import resource="applicationContext-mybatis.xml"/>
    <!-- 引入服务相关 -->
    <import resource="applicationContext-service.xml"/>
    <!-- 引入定时任务相关 -->
    <import resource="applicationContext-job.xml"/>
    <!-- 引入Dubbo服务相关 -->
    <import resource="dubbo-provider.xml"/>
    
    <!-- <import resource="area.xml"/>
    <import resource="city.xml"/>
    <import resource="equip.xml"/>
    <import resource="hbase_site"/>
    <import resource="message.xml"/>
    <import resource="monitor.xml"/>
    <import resource="project.xml"/>
    <import resource="province.xml"/>
    <import resource="user.xml"/>
    <import resource="zk_conf.xml"/> -->
    
    
    <!-- Redis缓存工具 -->
	<bean id="equipRedisCache" class="com.smart.mvc.cache.RedisCache">
		<property name="redisTemplate" ref="redisTemplate" />
	</bean>
	<bean id="waterAreaRedisCache" class="com.smart.mvc.cache.RedisCache">
		<property name="redisTemplate" ref="redisTemplate" />
	</bean>
	<bean id="waterQualityRedisCache" class="com.smart.mvc.cache.RedisCache">
		<property name="redisTemplate" ref="redisTemplate" />
	</bean>
	<bean id="filterGroupRedisCache" class="com.smart.mvc.cache.RedisCache">
		<property name="redisTemplate" ref="redisTemplate" />
	</bean>
	<bean id="filterRedisCache" class="com.smart.mvc.cache.RedisCache">
		<property name="redisTemplate" ref="redisTemplate" />
	</bean>
	<bean id="formulaRedisCache" class="com.smart.mvc.cache.RedisCache">
		<property name="redisTemplate" ref="redisTemplate" />
	</bean>
	<bean id="microFormulaRedisCache" class="com.smart.mvc.cache.RedisCache">
		<property name="redisTemplate" ref="redisTemplate" />
	</bean>
	<bean id="monitorRedisCache" class="com.smart.mvc.cache.RedisCache">
		<property name="redisTemplate" ref="redisTemplate" />
	</bean>
	
	<bean id="cacheUtil"  class="com.qingting.customer.baseserver.common.CacheUtil">
	  	<property name="equipRedisCache" ref="equipRedisCache"/>
	  	<property name="waterAreaRedisCache" ref="waterAreaRedisCache"/>
	  	<property name="waterQualityRedisCache" ref="waterQualityRedisCache"/>
	  	<property name="filterGroupRedisCache" ref="filterGroupRedisCache"/>
	  	<property name="filterRedisCache" ref="filterRedisCache"/>
	  	<property name="formulaRedisCache" ref="formulaRedisCache"/>
	  	<property name="microFormulaRedisCache" ref="microFormulaRedisCache"/>
	  	<property name="monitorRedisCache" ref="monitorRedisCache"/>
	  	
	  	<property name="monitorService" ref="monitorService"/>
	  	<property name="equipService" ref="equipService"/>
	  	<property name="waterAreaService" ref="waterAreaService"/>
	  	<property name="waterQualityService" ref="waterQualityService"/>
	  	<property name="filterGroupService" ref="filterGroupService"/>
	  	<property name="filterService" ref="filterService"/>
	  	<property name="formulaService" ref="formulaService"/>
	  	<property name="microFormulaService" ref="microFormulaService"/>
	</bean> 
	
</beans>